
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #1e1e1e;
  color: #f5f5f5;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2.5rem;
  color: #ffa726;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  transition: color 0.3s ease;
}

h1:hover {
  color: #ffb74d;
}

button {
  background-color: #ffa726;
  color: #1e1e1e;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-right: 10px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
  background-color: #ff9800;
  transform: translateY(-2px);
}

button:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(255, 152, 0, 0.7);
}

button:active {
  transform: translateY(0);
}

.pane {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  padding: 10px;
  background-color: #282828;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

iframe {
  width: 100%;
  height: 400px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.monaco-editor {
  width: 100%;
  height: 400px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  margin-top: 10px;
  background-color: #1e1e1e;
}

.editor-container {
  padding: 10px;
  margin-top: 20px;
  background-color: #1e1e1e;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.7);
}

button.active {
  background-color: #ff9800;
  color: white;
}

button:disabled {
  cursor: not-allowed;
  background-color: #616161;
  color: #bdbdbd;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.pane, iframe {
  animation: fadeIn 0.5s ease-in-out;
}

.pane iframe:hover {
  transform: scale(1.02);
  transition: transform 0.3s ease-in-out;
}
